@import 'font.css';

.btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 100ms linear;
    z-index: 1;
}

.btn:hover {
    opacity: 0.5;
}

.btn:active {
    opacity: 0.3;
}

.add-mesage {
    background: url('/src/img/send-text-message.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.add-video {
    background: url('/src/img/send-video-message.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.add-audio {
    background: url('/src/img/send-audio-message.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.list-msg {
    padding: 20px 0;
    width: 50%;
    list-style: none;
    margin: auto;
    margin-top: 20px;
    margin-left: 50%;
}

.msg {
    word-break: break-word;
    width: 70%;
    min-height: 50px;
    margin: auto;
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #9c1ec9;
    border: 2px solid white;
    box-shadow: 20px 5px 15px white;
}

.element-header {
    font-size: 17px;
    font-family: "Nunito";
    text-align: right;
    color: white;
    margin-bottom: 15px;
}

.element-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element-content {
    color: white;
    font-size: 17px;
    font-family: "Nunito";
}

.element-save-content {
    background-image: url('/src/img/save.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.element-link {
    text-decoration: none;
}

.element-link:hover {
    text-decoration: underline black;
}

.element-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.element-geolocation {
    display: inline-block;
    font-size: 17px;
    font-family: "Nunito";
    color: white;
}

.element-date {
    margin-right: 10px;
}

.element-delete {
    display: inline-block;
    background-image: url('/src/img/delete-msg.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    transition: background-image 1s;
    transition: transform 500ms;
}

.element-delete:hover {
    background-image: url('/src/img/delete-msg-2.svg');
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 40px;
    transform: rotate(360deg);
    transition: background-image 1s;
    transition: transform 500ms;
    opacity: 0.5;
    cursor: pointer;
}

.form-error {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    width: 380px;
    height: 180px;
    padding: 15px;

    background-color: white;
    border: 1px solid;

    opacity: 1;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    z-index: 3;
}

.form-error-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.error-description {
    text-align: justify;
    margin-bottom: 15px;
}

.title-error {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.form-close {
    content: "";
    background-image: url('/src/img/close.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.textarea-form-error {
    width: 100%;
    min-height: 25px;
    border: 1px solid;
    padding: 5px;
    resize: none;
}

.btn-send-coords {
    font-size: 20px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.check-mark {
    background: url('/src/img/check-mark.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    z-index: 2;
    transition: transform 1s;
}

.check-mark:hover {
    transform: rotate(360deg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 1s;
}

.cross {
    background: url('/src/img/cross.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    z-index: 2;
    transition: transform 1s;
}

.cross:hover {
    transform: rotate(360deg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 1s;
}

.timer {
    margin-right: 10px;
    background-color: white;
}

.video {
    display: block;
    width: 330px;
    height: 250px;
    margin: auto;
}